@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

body {
    font-size: 1.25rem;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #FEFBE7;
}

h1 {
    font-weight: 300;
    margin: 0px;
    padding: 0.625rem;
    font-size: 3rem;
    background-color: crimson;
    color: #fff;
    font-family: 'Rancho', cursive;
}

.question {
    font-size: 2.875rem;
    margin-bottom: 0.625rem;
}

.answers {
    margin-bottom: 1.25rem;
    text-align: left;
    display: inline-block;
    font-size: 1.25rem;
}

.answers label {
    display: block;
    margin-bottom: 0.625px;
}

button {
    font-family: 'Rancho', cursive;
    font-size: 1.375rem;
    background-color: orangered;
    color: #fff;
    border: 0px;
    border-radius: 0.188rem;
    padding: 1.25rem;
    cursor: pointer;
    margin-bottom: 1.25rem;
}

button:hover {
    background-color: rgb(144, 170, 51);
}





.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 12.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

}



.container_footer {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

footer {
    background-color: crimson;
    color: #fff;
    font-family: 'Rancho', cursive;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}